$rail-color: #e2e2e2 !default;
$rail-fill-color: #00d09c !default;
$knob-color: #fff !default;
$knob-size: 20px;

$primary-color: #00d09c !default;
$text-color: #44475b !default;
$bg-color: #e5faf5 !default;

@import '~vue-range-slider/dist/vue-range-slider.scss';

.slider {
  /* overwrite slider styles */
  padding: 0 10px;
  height: 20px;
  width: 400px;
  display: inline;
}

.root_template {
  display: flex;
  justify-content: center;

  .app-container {
    .app-title {
      color: $text-color;
      letter-spacing: 0.28px;
      font: 500 28px / 44.8px Roboto, system-ui;
      margin: 10px 0px;
      outline: $text-color none 0px;
    } /*.app-title*/

    .tabs {
      width: 60vw;
      border: 1px solid rgb(236, 237, 239);
      border-radius: 10px;
      font: 16px Roboto, system-ui;
      padding: 30px 0px 0px;

      .nav-tabs {
        .nav-item {
          a {
            align-items: center;
            caret-color: rgb(124, 126, 140);
            color: rgb(124, 126, 140);
            column-rule-color: rgb(124, 126, 140);
          }
          align-items: center;
          display: flex;
          height: 35px;
          letter-spacing: 0.16px;
          font: 500 16px / 25.6px Roboto, system-ui;
          margin: 0px 10px 10px 0px;
          padding: 0px 12px;
        } /*.nav-item*/

        .nav-link {
          border: none;
          &:hove {
            border: none;
          } /*.nav-link:hover*/
          &.active {
            border-end-end-radius: 20px;
            border-end-start-radius: 20px;
            border-start-end-radius: 20px;
            border-start-start-radius: 20px;
            bottom: 0px;
            background: $bg-color none repeat scroll 0% 0% / auto padding-box
              border-box;
            caret-color: $primary-color;
            color: $primary-color !important;
            column-rule-color: $primary-color;
            cursor: pointer;
          }
          /*.nav-link.active*/
        } /*.nav-link*/
      } /*.nav-tabs*/

      .tab-content {
        .tab-contents-block {
          display: flex;
        } /*.tab-contents-block*/

        .tab-pane {
          padding-top: 20px;
        } /*.tab-pane*/

        .row-block {
          height: 90px;
          margin: 0px 0px 32px;
          .input-block {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 25vw;
            .label {
              align-items: center;
              display: flex;
              height: 5vh;
              width: 140.25px;
            } /*.label*/
            .field {
              .input {
                align-items: center;
                display: flex;
                background: $bg-color none repeat scroll 0% 0% / auto
                  padding-box border-box;
                padding: 0px 3px;
                .currency,
                .percent,
                .year {
                  padding: 0px 0px 0px 3px;
                  color: $primary-color;
                }
                .input-field {
                  color: $primary-color;
                  width: 99.2031px;
                  text-align: right;
                  background: $bg-color none repeat scroll 0% 0% / auto
                    padding-box border-box;
                  border: 0px none $primary-color;
                  font: 500 18px Roboto, system-ui, -apple-system, Segoe UI,
                    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
                  outline: $primary-color none 0px;
                  &:focus-visible {
                    border: 0px none $primary-color;
                  }
                }
              } /*.input*/
            } /*.field*/
          } /*.input-block*/
        } /*.row-block*/
      } /*.tab-content*/
    } /*.tabs*/

    .result-block {
      padding: 2em;

      .result-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 20px;

        .result-label {
          color: $text-color;
          letter-spacing: 0.14px;
        } /*.result-label*/

        .result-value {
          font: 500 16px / 25.6px Roboto, system-ui;
        } /*result-value*/
      } /*.result-row*/
    } /*.result-block*/
  } /*#app-container*/
} /*.root_template*/
